<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>logoanim0000</key>
		<dict>
			<key>frame</key>
			<string>{{864,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0001</key>
		<dict>
			<key>frame</key>
			<string>{{864,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0002</key>
		<dict>
			<key>frame</key>
			<string>{{864,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0003</key>
		<dict>
			<key>frame</key>
			<string>{{722,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0004</key>
		<dict>
			<key>frame</key>
			<string>{{1560,2},{134,138}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,11},{134,138}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0005</key>
		<dict>
			<key>frame</key>
			<string>{{1560,2},{134,138}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,11},{134,138}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0006</key>
		<dict>
			<key>frame</key>
			<string>{{426,2},{134,138}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,11},{134,138}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0007</key>
		<dict>
			<key>frame</key>
			<string>{{580,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0008</key>
		<dict>
			<key>frame</key>
			<string>{{438,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0009</key>
		<dict>
			<key>frame</key>
			<string>{{296,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0010</key>
		<dict>
			<key>frame</key>
			<string>{{154,274},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0011</key>
		<dict>
			<key>frame</key>
			<string>{{1818,138},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0012</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0013</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0014</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0015</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0016</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0017</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0018</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0019</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0020</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0021</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0022</key>
		<dict>
			<key>frame</key>
			<string>{{1418,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0023</key>
		<dict>
			<key>frame</key>
			<string>{{286,2},{134,138}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,11},{134,138}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0024</key>
		<dict>
			<key>frame</key>
			<string>{{1276,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0025</key>
		<dict>
			<key>frame</key>
			<string>{{150,138},{134,146}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,3},{134,146}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0026</key>
		<dict>
			<key>frame</key>
			<string>{{2,138},{134,146}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,3},{134,146}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0027</key>
		<dict>
			<key>frame</key>
			<string>{{2,274},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0028</key>
		<dict>
			<key>frame</key>
			<string>{{1666,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0029</key>
		<dict>
			<key>frame</key>
			<string>{{1514,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0030</key>
		<dict>
			<key>frame</key>
			<string>{{1514,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0031</key>
		<dict>
			<key>frame</key>
			<string>{{1362,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0032</key>
		<dict>
			<key>frame</key>
			<string>{{1210,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0033</key>
		<dict>
			<key>frame</key>
			<string>{{1058,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0034</key>
		<dict>
			<key>frame</key>
			<string>{{906,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0035</key>
		<dict>
			<key>frame</key>
			<string>{{754,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0036</key>
		<dict>
			<key>frame</key>
			<string>{{602,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0037</key>
		<dict>
			<key>frame</key>
			<string>{{450,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0038</key>
		<dict>
			<key>frame</key>
			<string>{{298,138},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0039</key>
		<dict>
			<key>frame</key>
			<string>{{2,274},{134,150}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,0},{134,150}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0040</key>
		<dict>
			<key>frame</key>
			<string>{{2,138},{134,146}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,3},{134,146}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0041</key>
		<dict>
			<key>frame</key>
			<string>{{150,138},{134,146}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,3},{134,146}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0042</key>
		<dict>
			<key>frame</key>
			<string>{{1134,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0043</key>
		<dict>
			<key>frame</key>
			<string>{{992,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0044</key>
		<dict>
			<key>frame</key>
			<string>{{850,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0045</key>
		<dict>
			<key>frame</key>
			<string>{{708,2},{134,140}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0046</key>
		<dict>
			<key>frame</key>
			<string>{{566,2},{134,140}}</string>
			<key>offset</key>
			<string>{-40,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{168,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0047</key>
		<dict>
			<key>frame</key>
			<string>{{566,2},{134,140}}</string>
			<key>offset</key>
			<string>{-88,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{120,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0048</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{134,140}}</string>
			<key>offset</key>
			<string>{-135,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0049</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{134,140}}</string>
			<key>offset</key>
			<string>{-135,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0050</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{134,140}}</string>
			<key>offset</key>
			<string>{-133,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,7},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0051</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{134,140}}</string>
			<key>offset</key>
			<string>{-133,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0052</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,140}}</string>
			<key>offset</key>
			<string>{-132,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,7},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0053</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{134,140}}</string>
			<key>offset</key>
			<string>{-132,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0054</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{134,140}}</string>
			<key>offset</key>
			<string>{-132,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,9},{134,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0055</key>
		<dict>
			<key>frame</key>
			<string>{{1322,558},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0056</key>
		<dict>
			<key>frame</key>
			<string>{{992,558},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0057</key>
		<dict>
			<key>frame</key>
			<string>{{662,552},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0058</key>
		<dict>
			<key>frame</key>
			<string>{{332,552},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0059</key>
		<dict>
			<key>frame</key>
			<string>{{2,552},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0060</key>
		<dict>
			<key>frame</key>
			<string>{{1808,280},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0061</key>
		<dict>
			<key>frame</key>
			<string>{{1666,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0062</key>
		<dict>
			<key>frame</key>
			<string>{{1322,416},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0063</key>
		<dict>
			<key>frame</key>
			<string>{{992,416},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0064</key>
		<dict>
			<key>frame</key>
			<string>{{662,410},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0065</key>
		<dict>
			<key>frame</key>
			<string>{{332,410},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0066</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0067</key>
		<dict>
			<key>frame</key>
			<string>{{1336,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0068</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0069</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0070</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0071</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0072</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0073</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0074</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
		<key>logoanim0075</key>
		<dict>
			<key>frame</key>
			<string>{{1006,274},{328,140}}</string>
			<key>offset</key>
			<string>{-35,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,9},{328,140}}</string>
			<key>sourceSize</key>
			<string>{550,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>logoanim.png</string>
		<key>size</key>
		<string>{1954,700}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6e73c9ddb69ded781a175b138e599f04:17effb178476663c42192ddda85cb30f:58f5c22c797448aa37d3819f978718b9$</string>
		<key>textureFileName</key>
		<string>logoanim.png</string>
	</dict>
</dict>
</plist>
